src/main/mule/common-flows.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:email="http://www.mulesoft.org/schema/mule/email" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd">
	<flow name="log-to-splunk-Flow" doc:id="76f66c08-f5b2-4dd8-b5d4-3599f2744820" >
		<ee:transform doc:name="Transform Message" doc:id="1c1bc6e1-fae0-4c01-b562-9ed64cca667a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Event": "This is Trabian",
	"time": now()
} ++ vars.splunkPayload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="splunk" ><![CDATA[%dw 2.0
output application/json
---
{
	token: Mule::p('secure::splunk.token')
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="POST" doc:name="splunk-log" doc:id="e580aeac-ea52-4c44-912c-6ef46183fda3" config-ref="Splunk_HTTPS_Request_configuration" path="${secure::splunk.resourcePath}">
			<non-repeatable-stream />
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : vars.splunk.token
}]]]></http:headers>
		</http:request>
	</flow>
	<sub-flow name="send-Email-Notification-Sub_Flow" doc:id="d887d87c-0810-4c1b-bcff-73c97c64af5c" >
		<set-variable value="${secure::emailReceiver}" doc:name="users" doc:id="99c65924-2ee4-4d30-bf73-3de6964440ea" variableName="users"/>
		<logger level="INFO" doc:name="Logger" doc:id="20974d0f-6eb0-4772-97a7-d39bd22bf573" message="#[vars.users]"/>
		<choice doc:name="Choice" doc:id="bbcb6a58-a3ac-46db-98e5-dae5a31242ee" >
			<when expression="#[(vars.emailFlag default false) != true]">
				<set-variable value="#[true]" doc:name="emailFlag" doc:id="f5039a25-35ea-4c03-bc08-e51a02909d82" variableName="emailFlag" />
				<email:send doc:name="Send" doc:id="5dbad1e8-dcac-4cc6-9755-340e627430bd" config-ref="Email_SMTP" fromAddress="${secure::emailSender}" subject="${secure::emailSubject}" toAddresses='#[vars.users splitBy ","]'>
			<reconnect count="1" />
			<email:body contentType="text/plain" encoding="UTF-8" />
		</email:send>
			</when>
		</choice>
	</sub-flow>
</mule>
